<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>

    <!--------- Awesome Fonts ------------>
    <script src="https://kit.fontawesome.com/8f8794589b.js" crossorigin="anonymous"></script>

    <!--------- Custom Style ------------->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

    <!----------------------- Home Container Start --------------------->

    <section>
        <div class="display-container">

            <!-- box 1 -->

            <div class="display-box">

                <!-- Display page -->

                <section class="display">
                    <div class="display-heading">
                        <h2>{{ res }}</h2><h3>If 0 then, Sorry you are not eligiable for Loan and if 1 then, Congrats you are eligiable for loan</h3> 
                    </div>
                </section>
            </div>
        </div>

    </section>
    <!------------------------- Home Container End -------------------------------->

</body>

</html>