<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eligible for a loan</title>

    <!--------- Awesome Fonts ------------>
    <script src="https://kit.fontawesome.com/8f8794589b.js" crossorigin="anonymous"></script>

    <!--------- Custom Style ------------->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

    <!----------------------- Home Container Start --------------------->

    <section>
        <div class="home-container">

            <!-- box 1 -->

            <div class="home-box">

                <!-- Register page -->

                <section class="home">
                    <div class="home-heading">
                        <h3>Eligible for Loan ?</h3>
                        <h1>Check out now</h1>
                    </div>
                </section>

                <!-- text -->

                <div class="center">
                    <form action="/predlink" method="post">
                        <div class="txt_field">
                            <select name="Gender" required>
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                            <span></span>

                        </div>
                        <div class="txt_field">
                            <select name="Married" required>
                                <option value="0">Un-Married</option>
                                <option value="1">Married</option>
                            </select>
                            <span></span>
                        </div>
                        <div class="txt_field">
                            <select name="Dependents" required>
                                <option value="0">0 Dependent</option>
                                <option value="1">1 Dependents</option>
                                <option value="2">2 Dependents</option>
                                <option value="3">More than 2 Dependents</option>
                            </select>
                            <span></span>
                        </div>
                        <div class="txt_field">
                            <select name="Education" required>
                                <option value="0">Graduate</option>
                                <option value="1">Not Graduate</option>
                            </select>
                            <span></span>
                        </div>
                        <div class="txt_field">
                            <select name="Self_Employed" required>
                                <option value="0">Not Self-Employed</option>
                                <option value="1">Self-Employed</option>
                            </select>
                            <span></span>
                        </div>
                        <div class="txt_field">
                            <input type="text" name="Applicant_Income" required>
                            <span></span>
                            <label>Applicant Income</label>
                        </div>
                        <div class="txt_field">
                            <input type="text" name="Coapplicant_Income" required>
                            <span></span>
                            <label>Coapplicant Income</label>
                        </div>
                        <div class="txt_field">
                            <input type="text" name="Loan_Amount" required>
                            <span></span>
                            <label>Loan Amount</label>
                        </div>
                        <div class="txt_field">
                            <input type="text" name="Loan_Amount_Term" required>
                            <span></span>
                            <label>Loan Amount Term ( 12 - 480 days )</label>
                        </div>
                        <div class="txt_field">
                            <input type="text" name="Credit_History" required>
                            <span></span>
                            <label>Credit History ( 0 - 1 )</label>
                        </div>
                        <div class="txt_field">
                            <select name="Property_Area" required>
                                <option value="0">Urban</option>
                                <option value="1">Rural</option>
                                <option value="1">Semi-Urban</option>
                            </select>
                            <span></span>
                        </div>
                        <div class="button" id="button">
                            <input type="submit" value="Sumbit"><br><br>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <!------------------------- Home Container End -------------------------------->

</body>

</html>